<a href="https://colab.research.google.com/github/thienphuc2212/gioithieu/blob/main/Lab02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# PH·∫¶N 1: KH·ªûI T·∫†O M√îI TR∆Ø·ªúNG (SETUP)

# 1. C√†i ƒë·∫∑t PySpark (Ch·∫°y tr√™n Google Colab)
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!pip install -q pyspark

# 2. T·∫£i d·ªØ li·ªáu m·∫´u (Romeo & Juliet)
!wget -O romeo.txt https://www.gutenberg.org/cache/epub/1513/pg1513.txt

# 3. Nh√¢n b·∫£n d·ªØ li·ªáu ƒë·ªÉ gi·∫£ l·∫≠p Big Data (x100 l·∫ßn)
# File g·ªëc ch·ªâ v√†i trƒÉm KB, nh√¢n l√™n ƒë·ªÉ th·∫•y r√µ t·ªëc ƒë·ªô x·ª≠ l√Ω
with open("romeo.txt", "r") as f:
  content = f.read()
with open("big_romeo.txt", "w") as f:
  for _ in range(100):
    f.write(content + "\n")

print("‚úÖ ƒê√£ chu·∫©n b·ªã xong d·ªØ li·ªáu: big_romeo.txt")

# 4. Kh·ªüi t·∫°o Spark Session
from pyspark.sql import SparkSession
import time

spark = SparkSession.builder \
  .appName("EvolutionOfSpark") \
  .master("local[*]") \
  .getOrCreate()

sc = spark.sparkContext # L·∫•y SparkContext ƒë·ªÉ d√πng cho RDD c≈©
print("üöÄ Spark ƒë√£ s·∫µn s√†ng!")


# PH·∫¶N 2: C√ÅCH 1 - GI·∫¢I B·∫∞NG RDD (T∆Ø DUY MAPREDUCE C≈®)

print("‚è≥ ƒêang ch·∫°y RDD (C√°ch c≈©)...")
start_time = time.time()

# 1. ƒê·ªçc file v√†o RDD
rdd_text = sc.textFile("big_romeo.txt")

# 2. Th·ª±c hi·ªán MapReduce
# - flatMap: C·∫Øt d√≤ng th√†nh t·ª´
# - map: G√°n s·ªë 1 cho m·ªói t·ª´ -> (word, 1)
# - reduceByKey: C·ªông d·ªìn c√°c s·ªë 1 l·∫°i
rdd_counts = rdd_text.flatMap(lambda line: line.split(" ")) \
  .map(lambda word: (word, 1)) \
  .reduceByKey(lambda a, b: a + b)

# 3. S·∫Øp x·∫øp (Sort) - Vi·ªác n√†y r·∫•t t·ªën k√©m v·ªõi RDD
# Ph·∫£i ƒë·∫£o ng∆∞·ª£c (count, word) ƒë·ªÉ sort theo key l√† count
rdd_sorted = rdd_counts.map(lambda x: (x[1], x[0])) \
  .sortByKey(ascending=False)

# 4. L·∫•y k·∫øt qu·∫£ (Action)
result_rdd = rdd_sorted.take(10)

end_time = time.time()
print(f"‚è±Ô∏è Th·ªùi gian ch·∫°y RDD: {end_time - start_time:.4f} gi√¢y")
print("Top 10 t·ª´ (RDD):", result_rdd)


# PH·∫¶N 3: C√ÅCH 2 - GI·∫¢I B·∫∞NG DATAFRAME (T∆Ø DUY C·∫§U TR√öC)

from pyspark.sql.functions import split, explode, col, desc

print("‚è≥ ƒêang ch·∫°y DataFrame (C√°ch m·ªõi)...")
start_time = time.time()

# 1. ƒê·ªçc file v√†o DataFrame (C√≥ c·∫•u tr√∫c d√≤ng/c·ªôt)
df_text = spark.read.text("big_romeo.txt")

# 2. X·ª≠ l√Ω
# - split: T√°ch chu·ªói
# - explode: Bi·∫øn m·∫£ng th√†nh c√°c d√≤ng ri√™ng bi·ªát
df_counts = df_text.select(explode(split(col("value"), " ")).alias("word")) \
  .groupBy("word") \
  .count() \
  .orderBy(desc("count"))

# 3. L·∫•y k·∫øt qu·∫£
result_df = df_counts.limit(10).collect()

end_time = time.time()
print(f"‚è±Ô∏è Th·ªùi gian ch·∫°y DataFrame: {end_time - start_time:.4f} gi√¢y")
print("------------------------------------------------")
df_counts.show(10)



# PH·∫¶N 4: C√ÅCH 3 - GI·∫¢I B·∫∞NG SPARK SQL (T∆Ø DUY QUEN THU·ªòC)

print("‚è≥ ƒêang ch·∫°y Spark SQL...")
start_time = time.time()

# 1. Bi·∫øn DataFrame ban ƒë·∫ßu th√†nh b·∫£ng t·∫°m (Temp View)
# Nh·ªõ l·∫°i b∆∞·ªõc tr∆∞·ªõc: df_text ch·ª©a 1 c·ªôt l√† "value"
df_text.createOrReplaceTempView("raw_book")

# 2. Vi·∫øt SQL
# Logic: Split xong Explode ngay trong c√¢u SQL (Spark h·ªó tr·ª£ r·∫•t m·∫°nh)
query = """
SELECT word, count(*) as total
FROM (
  SELECT explode(split(value, ' ')) as word
  FROM raw_book
)
GROUP BY word
ORDER BY total DESC
"""

# 3. Th·ª±c thi
df_sql = spark.sql(query)
result_sql = df_sql.limit(10).collect()

end_time = time.time()
print(f"‚è±Ô∏è Th·ªùi gian ch·∫°y SQL: {end_time - start_time:.4f} gi√¢y")
df_sql.show(10)

--2026-01-13 09:39:39--  https://www.gutenberg.org/cache/epub/1513/pg1513.txt
Resolving www.gutenberg.org (www.gutenberg.org)... 152.19.134.47, 2610:28:3090:3000:0:bad:cafe:47
Connecting to www.gutenberg.org (www.gutenberg.org)|152.19.134.47|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 169546 (166K) [text/plain]
Saving to: ‚Äòromeo.txt‚Äô

romeo.txt           100%[===================>] 165.57K  --.-KB/s    in 0.1s

2026-01-13 09:39:39 (1.37 MB/s) - ‚Äòromeo.txt‚Äô saved [169546/169546]

‚úÖ ƒê√£ chu·∫©n b·ªã xong d·ªØ li·ªáu: big_romeo.txt
üöÄ Spark ƒë√£ s·∫µn s√†ng!
‚è≥ ƒêang ch·∫°y RDD (C√°ch c≈©)...
‚è±Ô∏è Th·ªùi gian ch·∫°y RDD: 6.1246 gi√¢y
Top 10 t·ª´ (RDD): [(168900, ''), (78000, 'the'), (55100, 'I'), (54100, 'and'), (52400, 'to'), (47600, 'of'), (45800, 'a'), (35000, 'in'), (31300, 'is'), (30400, 'my')]
‚è≥ ƒêang ch·∫°y DataFrame (C√°ch m·ªõi)...
‚è±Ô∏è Th·ªùi gian ch·∫°y DataFrame: 6.3459 gi√¢y
------------------------------------------------
+----+------+
|word| count|
+----+------+
|    |168900|
| the| 78000|
|   I| 55100|
| and| 54100|
|  to| 52400|
|  of| 47600|
|   a| 45800|
|  in| 35000|
|  is| 31300|
|  my| 30400|
+----+------+
only showing top 10 rows
‚è≥ ƒêang ch·∫°y Spark SQL...
‚è±Ô∏è Th·ªùi gian ch·∫°y SQL: 1.1382 gi√¢y
+----+------+
|word| total|
+----+------+
|    |168900|
| the| 78000|
|   I| 55100|
| and| 54100|
|  to| 52400|
|  of| 47600|
|   a| 45800|
|  in| 35000|
|  is| 31300|
|  my| 30400|
+----+------+
only showing top 10 rows